body {
    padding-top: 40px;
    background-color: #ffe4e1;
}
ul {
    list-style: none;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
}
ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 6px;
}

ul li.todo-done {
    color: gray;
    text-decoration: line-through;
}

.b-btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.b-btn__remove {
    width: 20px;
    height: 20px;
    float: right;
    display: none;
}
li:hover .b-btn__remove {
    display: block;
}
.b-btn__row {
    margin-top: 15px;
}
.markAllCompleted {
    width: 34px;
    height: 34px;
}
.clear-completed {
    padding: 7px;
   
}
.clear-completed:hover {
    background: #d8220e;
    color: #fff;
    border-color: #d8220e;;
}

.b-todos-left {
    line-height: 34px;
}